.bookingFlightContainer {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  .flightHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: column;
      .route {
        color: #000;
        font-size: 38px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .flightNumber {
        color: #0e7440;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .expireIn {
        color: #000;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      .expireTime {
        color: #f91212;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
      }
    }
  }
  .stepper-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 81px;
    margin-top: 17px;
    border-radius: 20px;
    background: #f2f2f2;
    position: relative;
    z-index: -2;
  }
  .stepper-container:before {
    content: "";
    position: absolute;
    top: 40px;
    left: 150px;
    right: 100px;
    height: 2px;
    background: none;
    border-top: 2px dashed black; /* Dashed line */
    z-index: 0; /* Send it behind the circles */
  }

  .step {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    gap: 7px;

    .circle {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 4px solid black;
      border-radius: 50%;
      background-color: #f2f2f2;
      z-index: 99999999;

      transition: background-color 0.3s ease, border-color 0.3s ease;

      &.active {
        border-color: green;
        // background-color: green !important;
        color: white;
      }
    }

    .stepName {
      color: #000;
      text-align: center;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .currentStepContainer {
    margin: 20px 0;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 26px 53px;
    .stepHeading {
      color: #000;
      text-align: center;
      font-size: 38px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 10px;
    }
    .personalDetailsParent {
      display: flex;
      flex-direction: column;
      gap: 11px;
    }
    .ticketCountsParent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 90px;
      margin-bottom: 12px;
      .singleTickerCount {
        display: flex;
        flex-direction: column;
        .tickerButtons {
          border-radius: 20px;
          border: 1px solid #000;
          height: 78px;
          display: flex;
          align-items: center;
          gap: 40px;
          overflow: auto;
          .ticketNumber {
            color: #000;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
    // .generatingFlightTicket {
    //   border-radius: 20px;
    //   background: rgba(254, 183, 4, 0.54);
    //   padding: 16px 58px 18px 37px;
    //   display: flex;
    //   flex-direction: column;
    //   gap: 11px;
    //   .generateFlightHeader {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     .left {
    //       display: flex;
    //       align-items: center;
    //       gap: 12px;
    //     }
    //     .airlineName {
    //       color: #000;
    //       text-align: center;
    //       font-size: 28px;
    //       font-style: normal;
    //       font-weight: 700;
    //       line-height: normal;
    //     }

    //     .rightFlightNo {
    //       color: #000;
    //       text-align: center;
    //       font-size: 28px;
    //       font-style: normal;
    //       font-weight: 400;
    //       line-height: normal;
    //     }
    //   }
    //   .route {
    //     color: #000;
    //     font-size: 28px;
    //     font-style: normal;
    //     font-weight: 400;
    //     line-height: normal;
    //   }
    //   .totalTickets {
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-between;
    //     .tickerHonor {
    //       color: #000;
    //       text-align: center;
    //       font-size: 28px;
    //       font-style: normal;
    //       font-weight: 400;
    //       line-height: normal;
    //     }
    //     .singlePrice {
    //       color: #000;
    //       text-align: center;
    //       font-size: 28px;
    //       font-style: normal;
    //       font-weight: 400;
    //       line-height: normal;
    //     }
    //   }
    // }

    .buttonParent {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
