.homeParent {
  display: flex;
  flex-direction: column;
  .homeHeading {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .topHeading {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 25px 0;
    margin-bottom: 35px;

    span {
      color: #feb704;
      font-weight: 700;
    }
    .topHeadingBottom {
      color: #0e7440;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .searchServicesInput {
    min-width: 1060px;
    height: 60px;
    margin: 0 auto;
    border-radius: 65px;
    border: 10px solid #feb704;
    position: relative;
    select {
      width: 100%;
      height: 100%;
      padding-left: 20px;
      border-radius: 65px;
      border: none;
      outline: none;
      color: #000;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      appearance: none; /* Removes the default dropdown icon */
      -webkit-appearance: none; /* For Safari */
      -moz-appearance: none; /* For Firefox */
      background-image: url("../assets/dropdownIcon.svg"); /* Your custom icon */
      background-repeat: no-repeat;
      background-position: right 230px center; /* Adjust position */
    }
    .searchButton {
      border-radius: 65px;
      background: #0e7440;
      width: 228px;
      height: 65px;
      flex-shrink: 0;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      position: absolute;
      top: 50%;
      right: -50px;
      transform: translateY(-50%);
    }
  }

  .companyInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding-top: 26px;
    padding-bottom: 35px;
    .singleInfo {
      border-radius: 15px;
      background: #fff;
      box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.31);
      width: 266px;
      height: 136px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #000;
      text-align: center;
      font-family: "Montserrat", sans-serif;

      font-size: 80px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      position: relative;
      .infoLabel {
        position: absolute;
        bottom: -10px;
        border-radius: 9px;
        background: #0e7440;
        width: 240px;
        height: 32px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
  .amazingOfferInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .singleOfferInfo {
      width: 300px;
      height: 150px;
      flex-shrink: 0;
      border-radius: 15px;
      background: #feb7048a;
      color: #000;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 12px;
      box-sizing: border-box;
    }
    .evenOfferInfo {
      background: rgba(14, 116, 64, 0.56) !important;
      color: #fff !important;
    }
  }
  .amazingOffers {
    padding-top: 46px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    .mobilePhoneImage {
      img {
        position: absolute;
        top: 55%;
        right: 50px;
        transform: translateY(-50%);
      }
    }
    .upper {
      color: #000;
      font-size: 31px;
      font-weight: 400;
      line-height: normal;
      line-height: 58px;

      span {
        color: #0e7440;
        font-size: 70px;
        font-weight: 700;
      }
    }
    .amazingBottom {
      display: flex;
      align-content: center;
      justify-content: space-between;
      z-index: 999999999;
    }
  }
  .malaysiaVisit {
    background-image: url("../assets/malaysiaVisit.svg"); // Path to your image
    background-size: cover; // Adjust the size (cover, contain, or custom values)
    background-position: center; // Position the image
    background-repeat: no-repeat; // Prevent the image from repeating
    height: 302px;
    width: 100%; // Set a width for the container
    border-radius: 20px;

    box-shadow: 8px 7px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    margin: 30px 0;
    .leftText {
      color: #fff;

      font-size: 35px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span {
        color: #ffd804;
        line-height: 60px;
        font-size: 70px;
        font-weight: 700;
      }
    }
    .rightButton {
      filter: drop-shadow(10px 9px 4px rgba(0, 0, 0, 0.25));
      width: 200px;
      height: 76px;
      color: #0e7440;

      border-radius: 20px;
      background: #fff;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  .trendingVisaDestinations {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 30px;
    .countriesList {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      .singleCountry {
        display: flex;
        flex-direction: column;
        // gap: 20px;
        .countryName {
          color: #000;
          text-align: center;
          font-size: 23px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
  .customerReviews {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .allReviews {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      margin-bottom: 38px;
      .singleReview {
        filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.32));
        padding: 26px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 15px;
        background: rgba(255, 216, 4, 0.75);
        // max-width: 350px;
        margin-right: 30px;
        .customerInfo {
          display: flex;
          align-items: center;
          gap: 15px;
          padding-left: 45px;
          img {
            height: 150px;
            width: 150px;
            border: 99px;
            object-fit: contain;
          }
          .customerName {
            color: #000;

            font-family: "Montserrat", sans-serif;

            font-size: 33px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
        .ratingStars {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .customerReview {
          color: #000;
          text-align: center;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  .whyBookUs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 25px;

    .whyBookUsFeatures {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 54px;
      .singleFeature {
        max-width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .featureTitle {
          color: #000;

          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .flightInfo {
          color: #000;

          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}
