.generatingFlightTicket {
  border-radius: 20px;
  background: rgba(254, 183, 4, 0.54);
  padding: 16px 58px 18px 37px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  .generateFlightHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      gap: 12px;
      img {
        border-radius: 99px;
      }
    }
    .airlineName {
      color: #000;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .rightFlightNo {
      color: #000;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .route {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .totalTickets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tickerHonor {
      color: #000;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .singlePrice {
      color: #000;
      text-align: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
